chromosomal_equivalences/ filter=lfs diff=lfs merge=lfs -text
T2T_v2/results/ filter=lfs diff=lfs merge=lfs -text
non_T2T/results/ filter=lfs diff=lfs merge=lfs -text
T2T_v2/results/** filter=lfs diff=lfs merge=lfs -text
non_T2T/results/** filter=lfs diff=lfs merge=lfs -text
